* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    min-height: 90vh;
    background-color: #5584ac;
    display: flex;
    padding-top: 1rem;
    align-items: center;
    flex-direction: column;
}
header {
    min-height: 5vh;
    background-color: #22577e;
}
/* nav start */
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    margin: 0 1rem;
    padding: 1rem;
    transition: all 0.3s;
}
nav ul li a {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
nav ul li:hover {
    background-color: #0a89e4;
}
/* nav end */

/* form start */
.form{
    width: 20%;
    margin: 40px auto 0px;

}
.control-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.control-form label{
    font-size: 23px;
    color: #fff;
    font-weight: 600;
}
input {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    width: 322px;
}
::-webkit-input-placeholder {
    font-size: 15px;
}
:-ms-input-placeholder {
    font-size: 15px;
}
::placeholder {
    font-size: 15px;
}
button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #22577e;
    color: white;
    transition: all 0.3s;
}
button:hover {
    background-color: rgb(3, 232, 156);
}
/* form end */

/* seating rwo and columns start */
.seatRowColumns {
    margin-top: 60px;
    display: flex;
    width: 42%;
}
.seatRowColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row {
    width: 40px;
    height: 40px;
    background-color: rgb(3, 232, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.row_empty {
    width: 40px;
    height: 40px;
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
/* seating rwo and columns end*/

/* contact start*/
.contact {
    text-align: center;
    min-height: 300px;
    margin-top: 150px;
}
.contact h1 {
    color: white;
}
.contact p {
    color: white;
}
/* contact end*/

/* footer start*/
footer {
    min-height: 7vh;
    background-color: #95d1cc;
}
/* footer end*/
