<!-- Including Header Layout through EJS's include() call -->
<%- include('../layouts/header.ejs'); -%>

<main>
    <div class="contact">
        <h1>Muhammad Shohag Islam</h1>
        <p>Student of Abdullah Gul University, Turkey</p>
    </div>
</main>

<!-- Including Footer Layout through EJS's include() call -->
<%- include('../layouts/footer.ejs'); -%>
