<!-- Including Header Layout through EJS's include() call -->
<%- include('../layouts/header.ejs') %>

<main>
    <form action="/" method="post">
        <input
            type="text"
            placeholder="Enter Your Programming Language"
            name="seatRowColumns"
        />
        <button type="submit">Add</button>
    </form>

    
</main>

<!-- Including Footer Layout through EJS's include() call -->
<%- include('../layouts/footer.ejs') %>
