<!-- Including Header Layout through EJS's include() call -->
<%- include('../layouts/header.ejs'); %>

<main>
    <!-- form -->
    <form class="form" action="/" method="post">
        <div class="control-form">
            <label for="seatRowColumns">Row Columns Seat:</label>
            <input
                id="seatRowColumns"
                type="text"
                value="[3,2],[4,3],[2,3],[3,4]"
                placeholder="Enter Row Columns Seat Like [3,2],[4,3],[2,3],[3,4]"
                name="seatRowColumns"
            />
        </div>
        <div class="control-form">
            <label for="passengers">Number of Passengers:</label>
            <input
                id="passengers"
                type="number"
                placeholder="Enter Passenger Number"
                name="passengers"
            />
        </div>
        <button type="submit">Show</button>
    </form>
    <!-- show seat of passenger -->
    <div class="seatRowColumns">
            <% airPlaneSeatingResult[0]?.seats?.map((row, rowI) => { %>
                <div class="seatRowColumn">
                    <% row.map((seat, seatI) => { %> 
                        <% if (Number.isInteger(seat)) { %>
                            <div class="row"><%= seat %></div>
                        <% } %>
                        <% if (seat === 'seat') { %>
                            <div class="row_empty">A</div>
                        <% } %>
                    <% }); %>
                </div>
            <% }); %>
    </div>
</main>

<!-- Including Footer Layout through EJS's include() call -->
<%- include('../layouts/footer.ejs'); -%>
